 <!-- Bootstrap core JavaScript-->
  <script src="/cms/vendor/jquery/jquery.min.js"></script>
  <script src="/cms/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/cms/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/cms/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/cms/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/cms/js/demo/chart-area-demo.js"></script>
  <script src="/cms/js/demo/chart-pie-demo.js"></script>